:root {
  --fog-color: rgba(121, 121, 121, 0.363);
}

body {
  color: #cfd3d6;
}

#temple-fog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.363); */
  /* background: rgba(177, 177, 177, 0.329); */
  background: var(--fog-color);
  backdrop-filter: blur(1.2px);
  z-index: 50;
  pointer-events: none;
  /* mix-blend-mode: lighten; */
}

#thin-temple-fog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.096); */
    /* background: rgba(255, 255, 255, 0.363); */
  background: var(--fog-color);
  backdrop-filter: blur(0.6px);
  z-index: 50;
  pointer-events: none;
  /* mix-blend-mode: screen; */
}

.punch-through {
  position: relative;
  z-index: 100;

}

.main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  border-radius: 24px;
  pointer-events: none;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(30, 30, 30, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 24px;
  pointer-events: none;
  z-index: 0;
}

strong,
b {
  /* color: #f2f0ea; */
  color: #f5f2e8;
}

button,
.btn,
details,
label {
  -webkit-tap-highlight-color: transparent;
}

/* button, .btn {
  transition: filter 2s ease;
}

.btn.pressed, button.pressed {
  filter: brightness(1.2);
} */


button,
.btn {
  position: relative;
  overflow: hidden;
}

button::after,
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

button.pressed::after,
.btn.pressed::after {
  opacity: 0.08;
}

a {
  color: #000000;
}

.content {
  margin-bottom: 3rem;
}

footer {
  /* text-align: center; */
  /* margin-top: 4rem; */
  /* margin-bottom: 1rem; */
  /* font-size: 0.9rem; */
  /* bottom: 2rem; */
  text-align: center;
  font-size: 0.9em;
  color: black;
}

footer a {
  color: black;
}